<main role="main" class="container">
    <div class="jumbotron text-primary" style="margin-top:30px;">
      
      <h2 class="featurette-heading  " style="color:#2980B9 ; font-size: 20px; "><b>What is AlcoveX Product Studio?</b></h2>
      <p class="lead font-poppins " style="color:#1F618D ; font-size: 15px; "><b>AlcoveX Product Studio is a unit of Alcove Business Advisory Private Ltd, it focuses on bringing together talented individuals of various disciplines to work on products from Alcove Partners' portfolio of companies.</b></p>
      <a href="https://www.linkedin.com/company/alcovex/about/" class="btn btn-outline-primary  " tabindex="-1" role="button" aria-disabled="true">Visit our Linkedin</a>
    </div>
  </main>
  <main role="main" class="container">
    <div class="jumbotron text-primary" style="margin-top:30px; margin-bottom:50px;">
      
      <h2 class="featurette-heading  " style="color:#2980B9 ; font-size: 20px; "><b>Alcove Partners</b></h2>
      <p class="lead font-poppins " style="color:#1F618D ; font-size: 15px; "><b>Alcove Partners provides much-needed strategic and financial support to aspiring entrepreneurs in Andhra Pradesh. We provide mentorship, incubation space, technical and digital marketing support and financial support to startups and SMEs.
      </b></p>
      <a href="http://alcovepartners.com/" class="btn btn-outline-primary  " tabindex="-1" role="button" aria-disabled="true">Visit Alcove Partners</a>
    </div>
  </main>