
<div class="row featurette" style="margin-top:30px">
    <div class="col-md-6">
        <h2 class="featurette-heading  " style="color:#2980B9 ; font-size: 20px; "><b>InterviewBuddy</b></h2>
        <p class="lead font-poppins " style="color:#1F618D ; font-size: 15px; "><b>InterviewBuddy is a premier video interviewing platform offering one-on-one personalized practice interviews with industry experts from companies like Google, Schneider Electric, Facebook, Microsoft, Qualcomm, Adobe, Samsung, Shell, Philips, Sony, HSBC, PwC, GoJek, Schlumberger and 100+ global companies & startups.</b></p>
      
        <a href="https://interviewbuddy.in/" class="btn btn-outline-primary  " tabindex="-1" role="button" aria-disabled="true">Visit InterviewBuddy</a>
    </div>
    <div class="col-md-6"><img  class="img-fluid" src="assets/pic2.png"  alt="...">
    
    </div>
  </div>
  <div class="row featurette d-flex flex-row-reverse " style="margin-top:30px">
    
    <div class="col-md-6 ">
        
        <h2 class="featurette-heading  " style="color:#2980B9 ; font-size: 20px; "><b>Datatrove</b></h2>
        <p class="lead font-poppins " style="color:#1F618D ; font-size: 15px; "><b>Datatrove is a career fulfilment tool that enables colleges & universities to visualize the progress of students by streamlining and automating the management of student data and placements in order to deliver better and richer career fulfillment.
            </b></p>
            <a href="https://interviewbuddy.in/" class="btn btn-outline-primary  " tabindex="-1" role="button" aria-disabled="true">Visit Datatrove</a>
   
    </div>
    <div class="col-md-6"><img class="img-fluid" src="assets/pic3.png"  alt="...">
    
    </div>
  </div>
