
<nav class="navbar navbar-light  fixed-top shadow-sm" style="background-color: #F6F5F5;">
  <div class="container-fluid"  ><img src="assets/pic0.png"  alt="...">
    <a href="https://alcovex.notion.site/alcovex/Careers-AlcoveX-Product-Studio-4a329ed201c14d1dbaa08ae6d08cdb92" class="btn btn-outline-primary  " tabindex="-1" role="button" aria-disabled="true">We're hiring!</a>
   
 </div>
</nav>
<div class="container">
<app-firstcomponent></app-firstcomponent>
<hr class="featurette-divider">
<app-secondcomponent></app-secondcomponent>
<hr class="featurette-divider">
<app-thirdcomponent></app-thirdcomponent>

</div>

<app-footer></app-footer>